<h1>Editar Usuario</h1>
Ingrese y confirme su contraseña actual para verificar la actualización.
<p class="form-error">  
</p>
<%= render 'form', usuario: @usuario %>

<%= link_to 'Ir al Dashboard', usuarios_path %>
